@tailwind base;
@tailwind components;
@tailwind utilities;
.withs{
    width: 40%;
}
.size{
    width: 40%;
}
.radius{
    width: 90%;
}
.distance{
    width: 40%;
    margin-left: 400px;
}
.para{
    width: 50%;
    margin-left: 330px;
    text-align: center;
    font-size: 18px;
}
.design{
    width: 25%;
    margin: 4px;   
}
.head{
    width: 80%;
    padding-top: 200px;

}
.block{
width: 50%;
}
.header{
    width: 60%;
}
.para2{
    width: 80%;
}
.para3{
    width: 100%;
    font-size: 18px;
}
.pics{
    height: 80%;
}
.box{
    width: 17%;
}
.nav{
    width: 100%;
}
.color{
    background-color: #ff6b81;
}
.letter{
    color: #ff6b81;
}
.price{
    margin: 15px;
    border-radius: 8px;
    width: 20%;
}
.left{
    margin-left: 600px;
}
.lefter{
    margin-left: 450px;
}
.line{
    width: 100%;
}